.hero {
    background: #6e4ff6;
    min-height: 500px;
    text-align: center;
}

.search-form {
    display: flex;
    flex-wrap: wrap;
}

    .search-input {
        border-radius: 3px 0 0 3px;
        border: none;
        box-shadow: none;
        flex: 3;
        height: 60px;
        line-height: 50px;
        outline: 0;
        padding: 0 20px;
    }
