.hero {
    align-items: center;
    background: #6e4ff6;
    display: flex;
    justify-content: center;
    min-height: 500px;
    text-align: center;
}

.search-form {
    display: flex;
    flex-wrap: wrap;
}

    .search-input {
        border-radius: 3px 0 0 3px;
        border: none;
        box-shadow: none;
        flex: 3;
        height: 60px;
        line-height: 50px;
        outline: 0;
        padding: 0 20px;
    }

    .search-btn {
        background-color: rgb(92, 59, 239);
        border-radius: 0 3px 3px 0;
        border: none;
        cursor: pointer;
        height: 60px;
        padding: 0 25px;
        min-width: auto;

        &:hover,
        &:focus,
        &:active {
            background-color: rgb(63, 35, 185) !important;
        }

        &:active {
            border-color: rgb(63, 35, 185) !important;
        }
    }
