@import "./fonts.css";

* {
    box-sizing: border-box;
    position: relative;
}

body {
    background-color: #FFF;
    color: #1E1E1E;
    font-family: 'Work Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

ul {
    padding: 0;
    margin: 0;
}

.loud-heading {
    color: #FFF;
    font-size: 36px;
    line-height: 70px;
    margin: 0;
}

.tagline {
    color: #F3F3F3;
    font-size: 18px;
    font-weight: 400;
    margin: 5px 0 35px 0;
    opacity: 0.5;
}

.btn--lg,
.btn-lg {
    font-size: 16px;
    line-height: 50px;
}

.section-padded {
    background: #f1f2f7;
    padding: 100px 0;
}

.section-title {
    padding-bottom: 45px;
    text-align: center;
}

    .section-title h1 {
        font-size: 2.3rem;
        margin-bottom: 24px;
    }

    .section-title p {
        font-size: 18px;
        line-height: 32px;
        margin-bottom: 0;
        padding: 0 200px;
    }
