@import "./fonts.css";

* {
    box-sizing: border-box;
    position: relative;
}

body {
    background-color: var(--background);
    color: var(--dark);
    font-family: 'Work Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

.loud-heading {
    color: #FFF;
    font-size: 36px;
    line-height: 70px;
    margin: 0;
}

.tagline {
    color: var(--off-white);
    font-size: 18px;
    font-weight: 400;
    margin: 5px 0 35px 0;
    opacity: 0.5;
}

.btn--lg,
.btn-lg {
    font-size: 16px;
    line-height: 50px;
}

.section-padded {
    background: var(--off-white);
    padding: 100px 0;
}

.section-title {
    padding-bottom: 45px;
    text-align: center;
}

    .section-title h1 {
        font-size: 2.3rem;
        margin-bottom: 24px;
    }

    .section-title p {
        font-size: 18px;
        line-height: 32px;
        margin-bottom: 0;
        padding: 0 200px;
    }

input[type=checkbox], input[type=radio] {
    height: auto;
}

.form-control,
input,
input.form-control,
select,
select.form-control,
textarea {
    border: 1px solid rgb(235, 237, 242);
    border-radius: 3px;
    color: #747B86;
    height: 50px;
    font-size: 16px;
    transition: 0.3s ease;
}

input[type=date], 
input[type=datetime-local], 
input[type=email], 
input[type=number], 
input[type=password], 
input[type=search-md], 
input[type=search], 
input[type=tel], 
input[type=text], 
input[type=time], 
input[type=url], 
select, 
textarea {
    box-sizing: border-box;
    box-shadow: none;
    outline: 0;
    width: 100%;
    padding: 0 20px;
}

.form-group p.label, label {
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
    text-transform: capitalize;
}

.custom-checkbox .custom-control-label {
    color: #6B6E8A;
    padding-left: 5px;
}

.custom-control-label::before {
    background-color: #DEE2E6;
    border: none;
}

.item-count {
    float: right;
}
