<template>
    <require from="./notifications.html"></require>

    <div class="app-header">

        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="menu">
                        <div class="logo-wrapper">
                            <div class="logo">
                                <a href="#">${'brandingName' & t} <span class="sublogo">${'marketplaceName' & t}</span></a>
                            </div>
                        </div>

                        <div class="menu-container">
                            <div class="dropdown-menu">
                                <nav class="navbar navbar-expand-lg mainmenu">
                                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menu-toggle" aria-controls="menu-toggle" aria-expanded="false" aria-label="Toggle navigation">
                                        <span class="navbar-toggler-icon icon-menu"></span>
                                    </button>

                                    <div class="collapse navbar-collapse" id="menu-toggle">
                                        <ul class="navbar-nav">
                                            <li repeat.for="row of router.navigation | authFilter: state.loggedIn" class="nav-item ${row.isActive ? 'active' : ''}">
                                                <a href.bind="row.href" class="navigation-link">${row.title}</a>
                                            </li>
                                        </ul>
                                    </div>
                                </nav>
                            </div>
                        </div>

                        <div class="user-container">
                            <div class="user-meta">
                                
                                <div class="search-wrapper">
                                    <div class="search-component">
                                        <span class="search-trigger fas ${searchOpen ? 'fa-times-circle' : 'fa-search'} fa-search" click.delegate="toggleSearch()"></span>

                                        <div class="search ${searchOpen ? 'active' : ''}">
                                            <form action="javascript:void(0);">
                                                <div class="input-group input-group-custom">
                                                    <span class="icon-left">
                                                        <i class="fas fa-search"></i>
                                                    </span>
                                                    <input type="text" class="form-control search-field" placeholder="Wanna be searchin' something...">
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>

                                <a href="javascript:void(0);">Login</a>

                                <notifications if.bind="state.loggedIn"></notifications>

                                <div class="user has-dropdown" if.bind="state.loggedIn">
                                    <div class="avatar">
                                        <img src="https://steemitimages.com/u/${state.user.name}/avatar" class="rounded-circle">
                                    </div>

                                    <div class="dropdown dropdown-user">
                                        <div class="user-balance d-flex">
                                            <div class="avatar">
                                                <img src="https://steemitimages.com/u/${state.user.name}/avatar" class="rounded-circle">
                                            </div>
                                            <div class="user-balance-info">
                                                <p class="name">@${state.user.name}</p>
                                                <p class="amount">${state.user.marketBalance} MARKET</p>
                                            </div>
                                        </div>

                                        <ul>
                                            <li><a href="#">Dashboard</a></li>
                                            <li><a href="#">Profile</a></li>
                                            <li><a href="#">Buy Credits</a></li>
                                            <li><a href="#">Manage Listings</a></li>
                                            <li><a href="#">New Listing</a></li>
                                            <li><a href="#">Settings</a></li>
                                            <li><a href="#">Withdrawals</a></li>
                                            <li><a href="#">Logout</a></li>
                                        </ul>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
