<template>
    <div class="app-menu">
        <header>
            <h1 class="heading logo">Gift Card Marketplace</h1>
        </header>
        
        <aside class="sidebar-nav">
            <ul>
                <li repeat.for="row of router.navigation | authFilter: state.loggedIn" class="nav-item ${row.isActive ? 'active' : ''}">
                    <a href.bind="row.href" class="navigation-link">${row.title}</a>
                </li>
            </ul>
        </aside>
    </div>
</template>
