<template>
    <require from="./notification"></require>

    <div class="notifications">
        <ul>
            <li class="has-dropdown">
                <div class="icon">
                    <i class="fas fa-bell"></i>
                </div>

                <div class="dropdown notification-dropdown">
                    <div class="dropdown-header">
                        <h6>Notifications</h6>
                    </div>
                    <div class="notification-content">
                        <notification text="<span>$10 Amazon Gift</span> sold for $5"></notification>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</template>
